Import numpy as np and print the version number.

In [1]:
import numpy as np

In [2]:
# Create a 1D array of numbers from 0 to 9
# #> array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [3]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [4]:
# Create a 3×3 numpy array of all True’s

In [5]:
np.ones((3,3), dtype=np.bool)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [4]:
# Extract all odd numbers from arr
# arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
# #> array([1, 3, 5, 7, 9])

In [6]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
arr[1::2]

array([1, 3, 5, 7, 9])

In [5]:
# Replace all odd numbers in arr with -1

# arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [7]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
arr[1::2] = -1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [8]:
# Replace all odd numbers in arr with -1 without changing arr
# arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
#hint - where

In [9]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
np.where(arr % 2 == 1, -1, arr)

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [7]:
# np.arange(10)

# #> array([ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
# Desired Output:

# #> array([[0, 1, 2, 3, 4],
# #>        [5, 6, 7, 8, 9]])

In [10]:
np.arange(10).reshape(2,5)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [8]:
# Stack arrays a and b vertically
# a = np.arange(10).reshape(2,-1)
# b = np.repeat(1, 10).reshape(2,-1)

In [12]:
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)
np.vstack((a,b))

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [9]:
# Get the common items between a and b
# a = np.array([1,2,3,2,3,4,3,4,5,6])
# b = np.array([7,2,10,2,7,4,9,4,9,8])
# Desired Output:

# array([2, 4])

In [14]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

np.intersect1d(a,b)

array([2, 4])

In [10]:
# Get the positions where elements of a and b match
# a = np.array([1,2,3,2,3,4,3,4,5,6])
# b = np.array([7,2,10,2,7,4,9,4,9,8])
# Desired Output:

# #> (array([1, 3, 5, 7]),)

In [48]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

np.arange(a.shape[0])[np.equal(a,b)]

array([1, 3, 5, 7])

In [49]:
np.where(a == b)

(array([1, 3, 5, 7], dtype=int64),)

In [18]:
np.argwhere(a==b).T

array([[1, 3, 5, 7]], dtype=int64)

In [11]:
# Get all items between 5 and 10 from a.
# a = np.array([2, 6, 1, 9, 10, 3, 27])
# Desired Output:

# (array([6, 9, 10]),)

In [20]:
a = np.array([2, 6, 1, 9, 10, 3, 27])
a[(a >= 5) & (a <= 10)]

array([ 6,  9, 10])

In [12]:
# Reverse the rows of a 2D array arr.
# # Input
# arr = np.arange(9).reshape(3,3)

In [50]:
arr = np.arange(9).reshape(3,3)
arr[::-1,:]

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])

In [52]:
np.flip(arr, axis=1)

array([[2, 1, 0],
       [5, 4, 3],
       [8, 7, 6]])

In [13]:
# Reverse the columns of a 2D array arr. (last arr)

In [23]:
arr = np.arange(9).reshape(3,3)
arr[:,::-1]

array([[2, 1, 0],
       [5, 4, 3],
       [8, 7, 6]])

In [14]:
# Create a 2D array of shape 5x3 to contain random decimal numbers between 5 and 10.

In [26]:
np.random.randint(5,10,(5,3))

array([[8, 7, 8],
       [9, 5, 8],
       [5, 7, 5],
       [6, 5, 5],
       [8, 8, 8]])

In [28]:
np.random.rand(5,3) * 5 + 5

array([[9.24033152, 8.84503603, 5.50512984],
       [9.67142615, 5.46497664, 9.88442029],
       [9.94220524, 9.70786063, 9.24480646],
       [7.43166007, 9.39067992, 8.14936355],
       [8.65489742, 7.74943282, 5.75729563]])

In [15]:
# Print or show only 3 decimal places of the numpy array rand_arr.
# hint: set_printoptions

In [31]:
np.set_printoptions(formatter={'float':lambda x: format(x, ',.3f')})

In [32]:
np.random.rand(5,3)

array([[0.788, 0.980, 0.528],
       [0.593, 0.963, 0.546],
       [0.814, 0.021, 0.131],
       [0.311, 0.894, 0.799],
       [0.286, 0.071, 0.730]])

In [16]:
# Limit the number of items printed in python numpy array a to a maximum of 6 elements.

In [ ]:
np.set_printoptions()

In [33]:
np.arange(30).reshape(10,3)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14],
       [15, 16, 17],
       [18, 19, 20],
       [21, 22, 23],
       [24, 25, 26],
       [27, 28, 29]])

In [34]:
np.set_printoptions(threshold=5)

In [35]:
np.arange(30).reshape(10,3)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       ...,
       [21, 22, 23],
       [24, 25, 26],
       [27, 28, 29]])

In [17]:
# From the array a, replace all values greater than 30 to 30 and less than 10 to 10.
# np.random.seed(100)
# a = np.random.uniform(1,50, 20)
# lookfor a dedicated ufunc

In [39]:
np.set_printoptions(threshold=1000)

In [54]:
np.random.seed(100)
a = np.random.uniform(1,50, 20)

np.minimum(np.maximum(a,10), 30)

array([27.62684215, 14.64009987, 21.80136195, 30.        , 10.        ,
       10.        , 30.        , 30.        , 10.        , 29.17957314,
       30.        , 11.25090398, 10.08108276, 10.        , 11.76517714,
       30.        , 30.        , 10.        , 30.        , 14.42961361])

In [55]:
np.clip(a, a_min=10, a_max=30)

array([27.62684215, 14.64009987, 21.80136195, 30.        , 10.        ,
       10.        , 30.        , 30.        , 10.        , 29.17957314,
       30.        , 11.25090398, 10.08108276, 10.        , 11.76517714,
       30.        , 30.        , 10.        , 30.        , 14.42961361])

In [18]:
# Compute the min-by-max for each row for given 2d numpy array.
# each row - compute min/max. use apply_along_axis function

# np.random.seed(100)
# a = np.random.randint(1,10, [5,3])
# a
# #> array([[9, 9, 4],
# #>        [8, 8, 1],
# #>        [5, 3, 6],
# #>        [3, 3, 3],
# #>        [2, 1, 9]])

In [43]:
np.random.seed(100)
a = np.random.randint(1,10, [5,3])
a

array([[9, 9, 4],
       [8, 8, 1],
       [5, 3, 6],
       [3, 3, 3],
       [2, 1, 9]])

In [47]:
np.apply_along_axis(lambda x: min(x) / max(x), 1, a)

array([0.44444444, 0.125     , 0.5       , 1.        , 0.11111111])