In [1]:
!cd

d:\Projects\ExperisAcademy\Exercises

In [2]:
%cd pandas

d:\Projects\ExperisAcademy\Exercises\pandas

In [3]:
!dir

 Volume in drive D is Media
 Volume Serial Number is 8463-757E

 Directory of d:\Projects\ExperisAcademy\Exercises\pandas

09/12/2019  22:25    <DIR>          .
09/12/2019  22:25    <DIR>          ..
09/12/2019  22:23    <DIR>          .ipynb_checkpoints
09/12/2019  22:25             3,424 ex_raw_pd_series.txt
09/12/2019  22:11            54,684 w3_pd_DataFrame.ipynb
09/12/2019  22:23               757 w3_pd_Series.ipynb
               3 File(s)         58,865 bytes
               3 Dir(s)  170,913,013,760 bytes free

In [11]:
with open('ex_raw_pd_HR_database','r') as file:
    raw_exs = file.read()

In [12]:
raw_exs

'1. Write a Pandas program to display all the records of REGIONS file. \n***\n\n2. Write a Pandas program to display all the location id from locations file. \n***\n\n3. Write a Pandas program to extract first 7 records from employees file. \n***\n\n4. Write a Pandas program to select distinct department id from employees file. \n***\n\n5. Write a Pandas program to display the first and last name, and department number for all employees whose last name is "McEwen". \n***\n\n6. Write a Pandas program to display the first, last name, salary and department number for those employees whose first name starts with the letter \'S\'. \n***\n\n7. Write a Pandas program to display the first, last name, salary and department number for those employees whose first name does not contain the letter \'M\'. \n***\n\n8. Write a Pandas program to display the first name, last name, salary and department number in ascending order by department number. \n***\n\n9. Write a Pandas program to display the first name, last name, salary and department number in descending order by first name. \n***\n\n10. Write a Pandas program to display the first name, last name, salary and manger id where manager ids are null. \n***\n\n11. Write a Pandas program to display the first name, last name, salary and manger id where manager ids are not null. \n***\n\n12. Write a Pandas program to create and display a boolean series, where True for not null and False for null values or missing values in state_province column of locations file. \n***\n\n13. Write a Pandas program to create a boolean series selecting rows with one or more nulls from locations file. \n***\n\n14. Write a Pandas program to count the NaN values of all the columns of locations file. \n***\n\n15. Write a Pandas program to display the first name, last name, salary and department number for those employees whose first name ends with the letter \'m\'. \n***\n\n16. Write a Pandas program to display the first name, last name, salary and department number for those employees whose first name ends with the letter \'d\' or \'n\' or \'s\' and also arrange the result in descending order by department id. \n***\n\n17. Write a Pandas program to display the first name, last name, salary and department number for employees who works either in department 70 or 90. \n***\n\n18. Write a Pandas program to display the first name, last name, salary and department number for those employees whose managers are hold the ID 120, 103 or 145. \n***\n\n19. Write a Pandas program to display the first, last name, salary and department number for those employees who holds a letter n as a 3rd character in their first name. \n***\n\n20. Write a Pandas program to display the first name, job id, salary and department for those employees not working in the departments 50,30 and 80. \n***\n\n21. Write a Pandas program to display the ID for those employees who did two or more jobs in the past. \n***\n\n22. Write a Pandas program to calculate minimum, maximum and mean salary from employees file. \n***\n\n23. Write a Pandas program to display the details of jobs in descending sequence on job title. \n***\n\n24. Write a Pandas program to display the first and last name and date of joining of the employees who is either Sales Representative or Sales Man. '

In [13]:
# Initial split by exercises:
separated_exs = [ex.strip() for ex in raw_exs.split('***')]
separated_exs

['1. Write a Pandas program to display all the records of REGIONS file.',
 '2. Write a Pandas program to display all the location id from locations file.',
 '3. Write a Pandas program to extract first 7 records from employees file.',
 '4. Write a Pandas program to select distinct department id from employees file.',
 '5. Write a Pandas program to display the first and last name, and department number for all employees whose last name is "McEwen".',
 "6. Write a Pandas program to display the first, last name, salary and department number for those employees whose first name starts with the letter 'S'.",
 "7. Write a Pandas program to display the first, last name, salary and department number for those employees whose first name does not contain the letter 'M'.",
 '8. Write a Pandas program to display the first name, last name, salary and department number in ascending order by department number.',
 '9. Write a Pandas program to display the first name, last name, salary and department number in descending order by first name.',
 '10. Write a Pandas program to display the first name, last name, salary and manger id where manager ids are null.',
 '11. Write a Pandas program to display the first name, last name, salary and manger id where manager ids are not null.',
 '12. Write a Pandas program to create and display a boolean series, where True for not null and False for null values or missing values in state_province column of locations file.',
 '13. Write a Pandas program to create a boolean series selecting rows with one or more nulls from locations file.',
 '14. Write a Pandas program to count the NaN values of all the columns of locations file.',
 "15. Write a Pandas program to display the first name, last name, salary and department number for those employees whose first name ends with the letter 'm'.",
 "16. Write a Pandas program to display the first name, last name, salary and department number for those employees whose first name ends with the letter 'd' or 'n' or 's' and also arrange the result in descending order by department id.",
 '17. Write a Pandas program to display the first name, last name, salary and department number for employees who works either in department 70 or 90.',
 '18. Write a Pandas program to display the first name, last name, salary and department number for those employees whose managers are hold the ID 120, 103 or 145.',
 '19. Write a Pandas program to display the first, last name, salary and department number for those employees who holds a letter n as a 3rd character in their first name.',
 '20. Write a Pandas program to display the first name, job id, salary and department for those employees not working in the departments 50,30 and 80.',
 '21. Write a Pandas program to display the ID for those employees who did two or more jobs in the past.',
 '22. Write a Pandas program to calculate minimum, maximum and mean salary from employees file.',
 '23. Write a Pandas program to display the details of jobs in descending sequence on job title.',
 '24. Write a Pandas program to display the first and last name and date of joining of the employees who is either Sales Representative or Sales Man.']

In [14]:
# Split lines in each exercise:
splitted_exs = [ex.split('\n') for ex in separated_exs]
splitted_exs

[['1. Write a Pandas program to display all the records of REGIONS file.'],
 ['2. Write a Pandas program to display all the location id from locations file.'],
 ['3. Write a Pandas program to extract first 7 records from employees file.'],
 ['4. Write a Pandas program to select distinct department id from employees file.'],
 ['5. Write a Pandas program to display the first and last name, and department number for all employees whose last name is "McEwen".'],
 ["6. Write a Pandas program to display the first, last name, salary and department number for those employees whose first name starts with the letter 'S'."],
 ["7. Write a Pandas program to display the first, last name, salary and department number for those employees whose first name does not contain the letter 'M'."],
 ['8. Write a Pandas program to display the first name, last name, salary and department number in ascending order by department number.'],
 ['9. Write a Pandas program to display the first name, last name, salary and department number in descending order by first name.'],
 ['10. Write a Pandas program to display the first name, last name, salary and manger id where manager ids are null.'],
 ['11. Write a Pandas program to display the first name, last name, salary and manger id where manager ids are not null.'],
 ['12. Write a Pandas program to create and display a boolean series, where True for not null and False for null values or missing values in state_province column of locations file.'],
 ['13. Write a Pandas program to create a boolean series selecting rows with one or more nulls from locations file.'],
 ['14. Write a Pandas program to count the NaN values of all the columns of locations file.'],
 ["15. Write a Pandas program to display the first name, last name, salary and department number for those employees whose first name ends with the letter 'm'."],
 ["16. Write a Pandas program to display the first name, last name, salary and department number for those employees whose first name ends with the letter 'd' or 'n' or 's' and also arrange the result in descending order by department id."],
 ['17. Write a Pandas program to display the first name, last name, salary and department number for employees who works either in department 70 or 90.'],
 ['18. Write a Pandas program to display the first name, last name, salary and department number for those employees whose managers are hold the ID 120, 103 or 145.'],
 ['19. Write a Pandas program to display the first, last name, salary and department number for those employees who holds a letter n as a 3rd character in their first name.'],
 ['20. Write a Pandas program to display the first name, job id, salary and department for those employees not working in the departments 50,30 and 80.'],
 ['21. Write a Pandas program to display the ID for those employees who did two or more jobs in the past.'],
 ['22. Write a Pandas program to calculate minimum, maximum and mean salary from employees file.'],
 ['23. Write a Pandas program to display the details of jobs in descending sequence on job title.'],
 ['24. Write a Pandas program to display the first and last name and date of joining of the employees who is either Sales Representative or Sales Man.']]

In [15]:
# Format each exercise: add '#### ' to the first line, '  ' to every line:
for ex_i, ex in enumerate(splitted_exs):
    for line_i, line in enumerate(ex):
        splitted_exs[ex_i][line_i] = '#### ' + line if line_i == 0 else line
        splitted_exs[ex_i][line_i] = splitted_exs[ex_i][line_i] + '  '

In [16]:
splitted_exs

[['#### 1. Write a Pandas program to display all the records of REGIONS file.  '],
 ['#### 2. Write a Pandas program to display all the location id from locations file.  '],
 ['#### 3. Write a Pandas program to extract first 7 records from employees file.  '],
 ['#### 4. Write a Pandas program to select distinct department id from employees file.  '],
 ['#### 5. Write a Pandas program to display the first and last name, and department number for all employees whose last name is "McEwen".  '],
 ["#### 6. Write a Pandas program to display the first, last name, salary and department number for those employees whose first name starts with the letter 'S'.  "],
 ["#### 7. Write a Pandas program to display the first, last name, salary and department number for those employees whose first name does not contain the letter 'M'.  "],
 ['#### 8. Write a Pandas program to display the first name, last name, salary and department number in ascending order by department number.  '],
 ['#### 9. Write a Pandas program to display the first name, last name, salary and department number in descending order by first name.  '],
 ['#### 10. Write a Pandas program to display the first name, last name, salary and manger id where manager ids are null.  '],
 ['#### 11. Write a Pandas program to display the first name, last name, salary and manger id where manager ids are not null.  '],
 ['#### 12. Write a Pandas program to create and display a boolean series, where True for not null and False for null values or missing values in state_province column of locations file.  '],
 ['#### 13. Write a Pandas program to create a boolean series selecting rows with one or more nulls from locations file.  '],
 ['#### 14. Write a Pandas program to count the NaN values of all the columns of locations file.  '],
 ["#### 15. Write a Pandas program to display the first name, last name, salary and department number for those employees whose first name ends with the letter 'm'.  "],
 ["#### 16. Write a Pandas program to display the first name, last name, salary and department number for those employees whose first name ends with the letter 'd' or 'n' or 's' and also arrange the result in descending order by department id.  "],
 ['#### 17. Write a Pandas program to display the first name, last name, salary and department number for employees who works either in department 70 or 90.  '],
 ['#### 18. Write a Pandas program to display the first name, last name, salary and department number for those employees whose managers are hold the ID 120, 103 or 145.  '],
 ['#### 19. Write a Pandas program to display the first, last name, salary and department number for those employees who holds a letter n as a 3rd character in their first name.  '],
 ['#### 20. Write a Pandas program to display the first name, job id, salary and department for those employees not working in the departments 50,30 and 80.  '],
 ['#### 21. Write a Pandas program to display the ID for those employees who did two or more jobs in the past.  '],
 ['#### 22. Write a Pandas program to calculate minimum, maximum and mean salary from employees file.  '],
 ['#### 23. Write a Pandas program to display the details of jobs in descending sequence on job title.  '],
 ['#### 24. Write a Pandas program to display the first and last name and date of joining of the employees who is either Sales Representative or Sales Man.  ']]

In [17]:
# Save to a new file:
with open('processed_pd_HR_database.txt', 'w') as file:
    for ex in splitted_exs:
        print('#%% md\n', file=file)
        for line in ex:
            print(line, file=file)
        print("", file=file)
        print("#%%\n", file=file)