# Pandas Data Series

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#### 1. Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [3]:
ex1 = pd.Series(np.arange(10), index=list('abcdefghij'))
ex1

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int32

#### 2. Write a Python program to convert a Panda module Series to Python list and it's type.

In [5]:
ex1.values.tolist()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 3. Write a Python program to add, subtract, multiple and divide two Pandas Series.   
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [6]:
ex3_1 = pd.Series([2, 4, 6, 8, 10])
ex3_2 = pd.Series([1, 3, 5, 7, 9])

In [8]:
ex3_1 / ex3_2

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

#### 4. Write a Python program to get the largest integer smaller or equal to the division of the inputs.   
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [9]:
ex3_1 > ex3_2

0    True
1    True
2    True
3    True
4    True
dtype: bool

#### 5. Write a Python program to convert a dictionary to a Pandas series.   
Sample Series:  
Original dictionary:  
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}  
Converted series:  
a 100  
b 200  
c 300  
d 400  
e 800  
dtype: int64

In [11]:
ex5 = pd.Series({'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800})
ex5

a    100
b    200
c    300
d    400
e    800
dtype: int64

#### 6. Write a Python program to convert a NumPy array to a Pandas series.   
Sample Series:  
NumPy array:  
[10 20 30 40 50]  
Converted Pandas series:  
0 10  
1 20  
2 30  
3 40  
4 50  
dtype: int64

In [12]:
pd.Series(np.arange(1,6) * 10)

0    10
1    20
2    30
3    40
4    50
dtype: int32

#### 7. Write a Python program to change the data type of given a column or a Series.   
Sample Series:  
Original Data Series:  
0 100  
1 200  
2 python  
3 300.12  
4 400  
dtype: object  
Change the said data type to numeric:  
0 100.00  
1 200.00  
2 NaN  
3 300.12  
4 400.00  
dtype: float64

In [13]:
ex7 = pd.Series([100, 200, 'python', 300.12, 400])
ex7

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [17]:
pd.to_numeric(ex7, errors='coerce')

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

#### 8. Write a Python Pandas program to convert the first column of a DataFrame as a Series.   
Sample Output:  
Original DataFrame  
col1 col2 col3  
0 1 4 7  
1 2 5 5  
2 3 6 8  
3 4 9 12  
4 7 5 1  
5 11 0 11  
1st column as a Series:  
0 1  
1 2  
2 3  
3 4  
4 7  
5 11  
Name: col1, dtype: int64  
<class 'pandas.core.series.Series'>

In [20]:
ex8df = pd.DataFrame([[1,4,7],[2,5,5],[3,6,8],[4,9,12],[7,5,1],[11,0,11]], columns=['col1','col2','col3'])
ex8df

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [21]:
ex8df['col1']

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

#### 9. Write a Pandas program to convert a given Series to an array.   
Sample Output:  
Original Data Series:  
0 100  
1 200  
2 python  
3 300.12  
4 400  
dtype: object  
Series to an array  
['100' '200' 'python' '300.12' '400']

In [22]:
ex7.values

array([100, 200, 'python', 300.12, 400], dtype=object)

#### 10. Write a Pandas program to convert Series of lists to one Series.   
Sample Output:  
Original Series of list  
0 [Red, Green, White]  
1 [Red, Black]  
2 [Yellow]  
dtype: object  
One Series  
0 Red  
1 Green  
2 White  
3 Red  
4 Black  
5 Yellow  
dtype: object

In [23]:
ex10 = pd.Series([['Red','Green','White'],['Red','Black'],['Yellow']])
ex10

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [28]:
ex10.apply(pd.Series).stack().reset_index(drop=True)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

#### 11. Write a Pandas program to sort a given Series.   
Sample Output:  
Original Data Series: 0 100  
1 200  
2 python  
3 300.12  
4 400  
dtype: object  
0 100  
1 200  
3 300.12  
4 400  
2 python  
dtype: object

In [29]:
ex7

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [34]:
ex7.astype('str').sort_values()

0       100
1       200
3    300.12
4       400
2    python
dtype: object

#### 12. Write a Pandas program to add some data to an existing Series.   
Sample Output:  
Original Data Series:  
0 100  
1 200  
2 python  
3 300.12  
4 400  
dtype: object  
Data Series after adding some data:  
0 100  
1 200  
2 python  
3 300.12  
4 400  
0 500  
1 php  
dtype: object

In [37]:
ex7.append(pd.Series([500,'php']), ignore_index=True)

0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

#### 13. Write a Pandas program to create a subset of a given series based on value and condition.   
Sample Output:  
Original Data Series:  
0 0  
1 1  
2 2  
3 3  
4 4  
5 5  
6 6  
7 7  
8 8  
9 9  
10 10  
dtype: int64  
Subset of the above Data Series:  
0 0  
1 1  
2 2  
3 3  
4 4  
5 5  
dtype: int64

In [39]:
ex13 = pd.Series(range(11))
ex13

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

In [40]:
ex13.loc[ex13 <= 5]

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

#### 14. Write a Pandas program to change the order of index of a given series.   
Sample Output:  
Original Data Series:  
A 1  
B 2  
C 3  
D 4  
E 5  
dtype: int64  
Data Series after changing the order of index:  
B 2  
A 1  
C 3  
D 4  
E 5  
dtype: int64

In [41]:
ex14 = pd.Series(range(1,6), index=list('ABCDE'))
ex14

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [44]:
ex14.loc[['B','A','C','D','E']]

B    2
A    1
C    3
D    4
E    5
dtype: int64

In [46]:
ex14.reindex(index = ['B','A','C','D','E'])

B    2
A    1
C    3
D    4
E    5
dtype: int64

#### 15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.   
Sample Output:  
Original Data Series:  
0 1  
1 2  
2 3  
3 4  
4 5  
5 6  
6 7  
7 8  
8 9  
9 5  
10 3  
dtype: int64  
Mean of the said Data Series:  
4.81818181818  
Standard deviation of the said Data Series:  
2.52262489555

In [50]:
ex15 = pd.Series(list(range(1,10)) + [5,3])
ex15

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64

In [51]:
print(f"Mean:\t{ex15.mean()}")
print(f"Std:\t{ex15.std()}")

Mean:	4.818181818181818
Std:	2.522624895547565